<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIGILOGS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      </head>

<div class="hero is-success is-fullheight">
    <header class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                     <h1>DIGILOGS</h1> <!--any idea of the logo? or change it to TechBlog-->
                    </a>
                </div>

                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        {{#if loggedIn}}
                        <a href="/" class="navbar-item is-active">
                         Home
                        </a>
                        <a href="/dashboard" class="navbar-item">
                         DASHBOARD
                        </a>
                        <a href="/dashboard/create/" class="navbar-item">
                         CREATE POST
                        </a>
                        <a id="logout" class="navbar-item">
                         LOGOUT
                        </a>
                        <!--do we want this?
                            <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                     <i class="fab fa-github"></i>
                                </span>
                                <span>DOWNLOAD</span>
                            </a>
                        </span>-->
                        {{else}}
                        <a href="/" class="navbar-item is-active">
                         Home
                        </a>
                        <a href="/dashboard" class="navbar-item">
                         DASHBOARD
                        </a>
                        <a href="/login" class="navbar-item">
                         LOGIN
                        </a>
                    <!--do we want this?
                            <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                     <i class="fab fa-github"></i>
                                </span>
                                <span>DOWNLOAD</span>
                            </a>
                        </span>-->
                        {{/if}}    
                    </div>
                </div>
            </div>
        </nav>
    </header>
  
    <main class="hero-body ">
      <div class="container has-text-centered">
        {{{ body }}}
      </div>
    </main>
  
    <footer class="hero-foot wrapper">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/">HOMEPAGE</a>{{#if loggedIn}} | 
            <a href="/dashboard/">DASHBOARD</a> | 
            <a href="/dashboard/create/">CREATE NEW POST</a>
            {{else}}
             | <a href="/login/">LOGIN</a>
            {{/if}}
            </p>
        </div>
        <div class="row-is-full content has-text-centered">
            <p>
              <strong>DIGILOGS</strong> by <a href="https://github.com/chentriangoes">Yi-Tsun Chen</a> | made with <a href="https://bulma.io/">bulma</a> | source code:
              <a href="https://github.com/chentriangoes/TechBlog"><i class="fab fa-github"></i></a> |  
               <a href="mailto:chentriangoes@gmail.com"><i class="far fa-envelope"></i></a> | <a href="https://twitter.com/YiTsunChen2">
                <img alt="Twitter: YiTsunChen2" class="mt-3" src="https://img.shields.io/twitter/follow/YiTsunChen2.svg?style=social" target="_blank" />
            </p>
          </div>
    </footer>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</div>
</html>