<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DIGILOGS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; BACK TO DASHBOARD</a>
  <h2 class="title">NEW POST</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">TITLE:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="POST TITLE"/>
    </div>

    <div>
      <label for="post-content">CONTENT:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="POST CONTENT"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">SHARE</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
</html>
