<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title> <!--change title-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      </head>


<div class="field">
    <h2 class="title pb-4">CREATE NEW ACCOUNT:</h2><hr>
        <form class="signup-form">
            <div class="field">
                <label class="label" for="username-signup">USERNAME</label>
                <div class="control has-icons-left has-icons-right">
                     <input id="username-signup" class="input is-success" type="text" placeholder="Text input" value="bulma">
                    <span class="icon is-small is-left">
                     <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                     <i class="fas fa-check"></i>
                    </span>
                </div>
                <p class="help is-success">This username is available</p>
            </div>
 
            <div class="field">
                <label class="label" for="email-signup">EMAIL</label>
                <div class="control has-icons-left has-icons-right">
                     <input id="email-signup" class="input is-danger" type="email" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
                     <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                     <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field">
                <label class="label" for="twitter-signup">TWITTER</label>
                <div class="control">
                 <input id="twitter-signup" class="input" type="text" placeholder="Text input">
                </div>
            </div>
      
            <div class="field">
                <label class="label" for="github-signup">GITHUB</label>
                <div class="control">
                 <input id="github-signup" class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field">
                <label class="label" for="password-signup">PASSWORD</label>
                <div class="control">
                 <input id="password-signup" class="input" type="password" placeholder="Text input">
                </div>
            </div>
  
            <div class="field">
                <div class="control">
                 <button type="submit" class="button is-link">SIGNUP</button>
                </div>
            </div>
    </form>
</div>
        <!-- javascript file-->
        <script src="/javascript/signup.js"></script>
</html>